body {
    
    background: #aaa;
}

.Cabezal{
    border-radius: 0%;
    background: rgb(167, 67, 67);
    padding: 80px 0px 20px 0px;
    margin-bottom:0
}

.Titulo{
    font-size: 450%;
    font-family: 'Courier New', Courier, monospace;
}

.SubTitlo{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.Relleno{
    margin-top:30px;
}

.Pie{
    margin-top: 40px;
    margin-bottom: 0%;
    border-radius: 0%;
    background-color: #9c9b9a;
}

.Sponsor{
    margin-top: 20px;
    background-color:#9c9b9a;
    margin-bottom: 0;
    border-radius: 0%;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #ff9900;
}

.breadcrumb{
    background-color: #aaa;
}

.Lpie{
    margin-top: 10px;
    margin-left: 100px;
    padding: 20px;
}
.Cpie{
    margin-top: 10px;
    margin-left:120px;
    padding: 20px;
}

.Rpie{
    margin-top: 10px;
    margin-left:0px;
    padding: 20px;
}

.Login{
    padding: 50px;
}

.CardBike{
    width: 350px;
    background-color: #fcc690;
    padding: 20px;
}
.contacto{
 
    margin-top: 60px;
    
}
.contactoContainer{
    margin-top: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(70, 99, 113) ;
}

.colorBody{
    background: #aaa;
}
.carousel-inner {
    width: 100%;
    height: 100%;
  }